@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

*{
padding: 0px;
margin: 0px;
box-sizing: border-box;

}
body{   
    background-color: #333;
    font-family: 'PT Sans Narrow', sans-serif;  
line-height: 3.5;
}
a{
    text-decoration: nones;
}
.text-primary{
    color:blueviolet;
}
.navbar{
    display: flex;
    position:sticky;
    top: 0px;
padding:1rem;
background-color:rgb(51, 51, 51,0.4);
justify-content: space-between;
color: #fff;
   z-index: 1;
line-height: 10px;
}

.navbar ul{
    display: flex;
    list-style: none;
align-items: center;
}

.navbar ul li a{
 color: #fff;
margin: 0 0.25rem;
padding: 0.75rem;
}
.navbar ul li a:hover{
 background-color: blueviolet;
border-radius: 5px;
}
#showcase {
height: 100vh;
color: #fff;   
background: #333 
url("../imeeg/showcase.jpg") no-repeat
center/cover
}

#showcase .showcase-cintent{
display: flex;
flex-direction: column ;
text-align: center;
justify-content: center;
height: 100%;
align-items: center;
background: rgb(0.0.0,0.4);
top: 6px;
left: 0;
right: 0;
bottom: 0;
}
.lead{
font-size: 4rem; 
margin-bottom: .75rem;
line-height: 1.1;
}
.he{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.btn{
 display: inline-block;
 color: #fff;
 background: #431894;
border: none;
 padding: 0.5rem;
border-radius: 5px;}

.btn:hover {
 background: #6745a7;

}
.btn-dark {
    background: #333;
    color: #fff;
}
#whaT{
    background-color: #f4f4f4;
text-align: center;
;
}

#whaT .items {
    display:inline-flex;
    padding: 1rem;
}

#whaT .items .item {
    flex: 1rem;
    text-align: center;
    padding: 1rem;
}
#whaT .items .item i {
    background: rgb(100, 100, 163);
    border-radius: 50%;
padding: 1.3rem;
margin-bottom: 1rem;

}


#who {
    height: 100%;
background-color:#fff;    display: flex;
text-align: center;
}

#who div {
    flex: 1rem;
}


#who .who-img {
    background: url('../imeeg/people.jpg') no-repeat center center/cover;

}
#clients {
    background-color: #fff;
}

#clients .items {
    display: flex;
}

#clients .items img {
    display: block;
    margin: auto;
    width: 60%;
}


#contact {
    display: flex;
    flex: 2;
background-color:rgb(131, 122, 122);
line-height: 30px; 
}

#contact .google-maps,
#contact .contact-form {
    flex: 1;
}

#contact .contact-form .form-group {
    margin: 0.75rem;
color: blue;
}

#contact .contact-form label {
  
  color: #f4f4f4; 
  display:inline-block; 



  line-height: 20px;
}  


#contact .contact-form input,
#contact .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
}

.google-maps {
    background: url('../imeeg/gmaps.jpg') no-repeat center center/cover;

}
 .sc{ 
line-height: 50px;
    text-align: center;
    background:rgb(97, 86, 72);
 color:#fff4   
}
#main-footer .contact .sc{
    height: 100px;
}